
p
{
    margin: 0;
    font-family: Roboto, Arial;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}



html {
    /*background: url("../images/background3.jpg") no-repeat center center fixed;*/
    background: linear-gradient(109.6deg, rgb(41, 125, 182) 3.6%, rgb(77, 58, 151) 51%, rgb(103, 55, 115) 92.9%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.top-header
{
    position: fixed;
    top: 10px;
    left: 20px;

}



.arrow-icon-div,
.home-text-div
{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-text-div
{

    width: 200px;
}

.back-arrow-icon
{
    width: 40px;
    fill: black;
    filter: drop-shadow(1px 1px 1px black);
    margin-top: 1px;
}



.home-button
{
    color: whitesmoke;
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: transparent; /* This sets the box's background color to light gray */
    border: none;
    backdrop-filter: blur(15px);
    justify-content: center;
    transition: opacity 0.15s;

}



.middle
{
    position: relative;
    width: 30%; /* This makes the box take up 80% of the screen's width */
    height: 80%; /* This makes the box take up 80% of the screen's height */
    background: transparent; /* This sets the box's background color to light gray */
    border: none;
    backdrop-filter: blur(15px);
    border-radius: 50px;
    box-shadow: 0px 0px 8px -5px whitesmoke;
    min-width: 566px;
    max-height: 744px;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header
{

    display: flex;
    justify-content: space-around;
    height: 70px;
    box-shadow: 0 4px 10px -10px whitesmoke;


}
.search-icon
{
    width: 35px;
    margin-top: 20px;
    fill: black;
    filter: drop-shadow(1px 1px 1px black);
}

form
{
    padding: 0px 0px 0px 0px;
}

.search-bar
{
    padding-top: 5px;
    background: none;
    border: none;
    font-family: Roboto, Arial;
    height: 68px;
    width: 300px;
    text-shadow: 1px 1px 2px black;
    font-size: 25px;
    color: whitesmoke;



}

.search-bar:focus,
.home-button:focus,
.search-button:focus
{
    outline: none;
}



.search-button
{

    background: transparent;
    border: none;
    color: whitesmoke;
    font-family: Roboto, Arial;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    font-weight: 700;
    height: 50px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    margin-left: 40px;
    transition: opacity 0.15s;

}
.search-button:hover,
.home-button:hover
{

    opacity: 0.7;


}

.search-button:active,
.home-button:active
{
    opacity: 0.4;

}



.icon-div
{

    display: flex;
    justify-content: center;



}

.icon-weather
{

    margin-top: 20px;
    width: 300px;

}





.information-div
{
    text-align: center;
    padding: 0px 0px 25px 0px;
    line-height: 70px;
    box-shadow: 0 4px 10px -10px  whitesmoke;
    margin-bottom: 10px;

}


.temp-main-text
{
    font-size: 80px;
    font-weight: 700;
}
.weather-main-text
{
    font-size: 30px;
}

.location-icon-div
{
    align-items: center;
}
.location-icon
{
    width: 20px;
    margin-top: 25px;

}
.location-text-main
{
    font-size: 25px;
    margin-left: 10px;
}



.location-div
{
    display: flex;
    justify-content: center;


}




.footer
{
    display: flex;
    height: 80px;
}

.feels-like
{
    width: 283px;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}
.feels-info
{
    display: flex;


}

.feels-like-icon
{
    width: 40px;
    margin: 5px 15px 0px 0px;
}



.humidity
{
    width: 283px;
    display: flex;
    justify-content: center;
    padding: 20px 5px 0px 0px;


}



.humidity-icon
{
    width: 35px;
    margin: 8px 15px 0px 0px;

}

.feels-like-text,
.humidity-text
{
    font-size: 15px;
}

.humidity-percent,
.feels-like-temp
{
    font-size: 25px;
    font-weight: 700;
}