<html>

<head>

    <link th:rel="stylesheet" type="text/css"  th:href="@{/css/homestyles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="icon" href="/images/sun.png">
    <title  >Weather App Home</title>


</head>


<body>

<div class="container">
    <div class="main-box">
        <div class="header-div">
            <div class="weather-icon-div">
                <img class="weather-icon" th:src="@{/images/4102326_cloud_sun_sunny_weather_icon.png}">
            </div>
            <h1 class="header-text">Weather App</h1>
        </div>
        <div class="zip-code-div">

            <div class="icon-div">

                <img class="zip-icon" th:src="@{/images/iconfinder-icon.svg}">
            </div>
            <form action="/search" method="get">

                <input autocomplete="off" class="zip-enter" type="number" name="zip-code" placeholder="Enter Zip Code">
                <button class="search-button">Search</button>
            </form>

        </div>
        <div class="middle-div">

            <div class="line"></div>
            <div class="mid-text">or</div>
            <div class="line"></div>
        </div>
        <div class="footer">
            <div>
                <img class="city-icon" th:src="@{/images/cityloc.svg}">
            </div>

            <form action="/home-alt" method="get">


            <button class="home2-button">Search by City Name / State</button>


            </form>

        </div>
















    </div>
</div>


</body>








</html>