<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" href="/images/sun.png">
  <title th:text="${cityN + (cityS != null ? ', ' + cityS : '') }"> </title>

<!--  IF YOU HAVE AN ERROR WITH THE CSS MAKE SURE THE type is text/css/ exactly like that with the
    slashes. It didn't wanna load because of that small thing bruh
-->
  <link th:rel="stylesheet" type="text/css"  th:href="@{/css/style.css}" />

</head>
<body>
<div class="container">

  <div class="top-header">
    <div class="top-div">

      <form action="/" method="get">


      <button class="home-button">
        <div class="arrow-icon-div">
          <img class="back-arrow-icon" th:src="@{/images/left-arrow.svg}">

        </div>
        <div class="home-text-div">

          <p>Back to Home Page</p>
        </div>
      </button>

      </form>

    </div>
  </div>

  <div class="middle">

    <div class="header">
      <div class="search-icon-div"> <img class="search-icon" th:src="@{/images/search.svg}"> </div>
      <form action="/search" method="get">


        <input autocomplete="off" class="search-bar" type="number" name="zip-code">
      <button class="search-button">Search</button>

      </form>


    </div>

    <div class="center-div">
    <div class="icon-div">
      <img class="icon-weather" th:src="@{'/images/' + ${imageName} + '.png'}">
<!--      <img class="icon-weather" th:src="${iconUrl}" alt="Weather Icon">-->


    </div >
    <div class="information-div">

      <p class="temp-main-text">
        <span th:text="${tempInfo}"></span>° F
      </p>

      <p class="weather-main-text">
        <span th:text="${weatherInfo}"></span>
      </p>

      <div class="location-div">

        <div class="location-icon-div">

          <img class="location-icon" th:src="@{/images/iconfinder-icon.svg}">
        </div>

        <p class="location-text-main">
          <span th:text="${cityN}"></span><span th:text="${cityS != null ? ', ' + cityS : ''}"></span>
        </p>
      </div>



    </div>

      </div>

    <div class="footer">



      <div class="feels-like">
        <div class="feels-icon-div">

          <img class="feels-like-icon" th:src="@{/images/temperature-control.svg}">

        </div>
        <div>
          <p class="feels-like-temp">
            <span th:text="${feels}"></span>°F
          </p>
          <p class="feels-like-text">Feels like</p>

        </div>



      </div>
      <div class="humidity">
        <div>
          <img class="humidity-icon" th:src="@{/images/humidity.svg}">
        </div>

        <div>
          <p class="humidity-percent">
            <span th:text="${hum}"></span>%
          </p>
          <p class="humidity-text">
            Humidity
          </p>
        </div>
      </div>

    </div>

  </div>


</div>


</div>

</div>
</body>
</html>
